doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name='description', content='Valance')

    meta(name='author', content='ispyhumanfly')

    title Silver Gate Lending
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Google Web Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Exo|Noto+Sans|Orbitron', rel='stylesheet')
    // Template CSS Files
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet')

    link(href='js/plugins/owl-carousel/owl.carousel.css', rel='stylesheet')

    link(href='js/plugins/owl-carousel/owl.theme.css', rel='stylesheet')

    link(href='js/plugins/magnific-popup/magnific-popup.css', rel='stylesheet')

    link(href='css/style.css', rel='stylesheet')

    link(href='css/responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')

      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/fav-144.png')

    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/fav-114.png')

    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/fav-72.png')

    link(rel='apple-touch-icon-precomposed', href='images/fav-57.png')

    link(rel='shortcut icon', href='images/fav.png')

  body
    // Top Bar Starts
    .top-bar(style="background-color: #181818; border-bottom: 1px solid #464646;")
      // Nested Container Starts
      .container.clearfix.text-center-xs
        ul.list-unstyled.list-inline.pull-left-lg.pull-left-md.pull-left-sm.animation
          li
            a(href='#')
              i.fa.fa-facebook

          li
            a(href='#')
              i.fa.fa-twitter

          li
            a(href='#')
              i.fa.fa-google-plus

          li
            a(href='#')
              i.fa.fa-instagram

          li
            a(href='#')
              i.fa.fa-pinterest-p

        p.pull-right-lg.pull-right-md.pull-right-sm.text-right-lg.text-right-md.text-right-sm.text-light
          | A privately funded, hard money, and commercial and residential lender.
      // Nested Container Ends
    // Top Bar Ends
    // Header Starts
    header.main-header(style="background-color: white;border: none;")
      // Nested Container Starts
      .container.text-center-xs
        // Nested Row Starts
        .row
          // Logo Starts
          .col-lg-3.col-sm-12.text-center
            h4(onclick="javascript:window.location='/index';", style="font-family: 'Orbitron', sans-serif;color:black;cursor: pointer;") Silver Gate Lending
          // Logo Ends
          // Contact Number Ends
        // Nested Row Ends
      // Nested Container Ends
    // Header Ends
          // Search Form Starts
          form.navbar-form.navbar-right.hidden-sm.hidden-xs(role='search')
            .input-group
              input.form-control(type='text', placeholder='Search')

              span.input-group-btn
                button.btn.btn-default(type='button')
                  i.fa.fa-search
          // Search Form Ends
        // Navbar Cat collapse Ends
      // Nested Container Ends
    // Main Menu Ends
    // Main Banner Starts
    section(style="margin-top: -5%;")
      // Nested Container Starts
      // .container.text-lite-color
        // h2.text-medium 404 Page
      // Nested Container Ends
    // Main Banner Ends
    // Breadcrumb Starts
    // Main Container Starts
    .main-container.container.text-center
      h1.text-spl-color.text-normal
        i.fa.fa-database

      h4.main-heading-1.text-spl-color.text-spl-color.text-center.text-uppercase.text-normal Oops! Page not found

      p.lead
        | Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.
      // Search Form Starts
      form.form-inline.search-form
        .form-group
          label.sr-only(for='search') Name

          input#search.form-control(type='text', placeholder='Search...')

        button.btn.btn-secondary.text-medium.animation(type='submit') Search
      // Search Form Ends
      a.btn.btn-black.btn-big.animation.text-medium(href='index.html') Go To Home Page

      .spacer-medium
    // Main Container Ends
    // Newsletter Subscription Section Starts
    section.newsletter-bar.text-lite-color.text-center-sm.text-center-xs
      // Nested Container Starts
      .container
        // Nested Row Starts
        .row
          .col-lg-6.col-md-4.col-xs-12
            .clearfix
              h4.pull-left-lg.text-normal
                i.fa.fa-paper-plane
                |  Sign Up

              h6.pull-right-lg.text-light.hidden.visible-lg.visible-sm
                em
                  | Get subscriber only insights &amp; news delivered
                  br.hidden-sm.hidden-xs
                  | by Silver Gate Lending

          .col-lg-6.col-md-8.col-xs-12
            form.row
              .col-sm-8.col-xs-12
                .form-group
                  label.sr-only(for='newsletter-email') Email

                  input#newsletter-email.form-control.animation-1(type='email', placeholder='Your E-mail')

              .col-sm-4.col-xs-12
                button.btn.btn-secondary.animation.text-uppercase(type='submit') Submit
        // Nested Row Ends
      // Nested Container Ends
    // Newsletter Subscription Section Ends
    // Footer Top Section Starts
    section.footer-top
      // Nested Container Starts
      .container.text-center-xs.text-lite-color
        // Nested Row Starts
        .row
          // Foot Col #1 Starts
          .col-md-3.col-sm-6.col-xs-12
            .foot-info
              p
                img.img-responsive.img-center-xs(src='images/foot-brand.png', alt='Silver Gate Lending')

              br

              p.text-light
                em
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.

              ul.list-unstyled.list-inline.foot-sm-links
                li.text-medium Follow Us:

                li
                  a(href='#')
                    i.fa.fa-facebook.animation

                li
                  a(href='#')
                    i.fa.fa-twitter.animation

                li
                  a(href='#')
                    i.fa.fa-google-plus.animation

                li
                  a(href='#')
                    i.fa.fa-instagram.animation

                li
                  a(href='#')
                    i.fa.fa-pinterest-p.animation
          // Foot Col #1 Ends
          // Foot Col #2 Starts
          .col-md-3.col-sm-6.col-xs-12
            h5 Contact Us

            ul.list-unstyled.foot-address-list.text-light
              li.clearfix
                i.fa.fa-map-marker


                span
                  strong #781, Shah Ali Banda,
                  br
                  Chairminar, Hyd- 505

              li.clearfix
                i.fa.fa-phone


                span.text-bold (123) 45678910

              li.clearfix
                i.fa.fa-envelope


                span
                  a(href='mailto:support@demosite.com') support@demosite.com

              li.clearfix
                i.fa.fa-clock-o


                span
                  | Mon - Fri : 10:00 - 18:00
                  br
                  Sat - Sun Holiday
          // Foot Col #2 Ends
          // Divider Starts
          .col-xs-12.hidden.visible-sm
            p
              br
              br
          // Divider Ends
          // Foot Col #3 Starts
          .col-md-3.col-sm-6.col-xs-12
            h5 Financial Planning

            ul.list-unstyled.foot-list-style-1.text-light
              li Investment Management

              li Retirement Planning

              li Long Term Care

              li Estate Planning

              li Social Security
          // Foot Col #3 Ends
          // Foot Col #4 Starts
          .col-md-3.col-sm-6.col-xs-12
            h5 Investment Planning

            ul.list-unstyled.foot-list-style-1.text-light
              li Wealth Management

              li Retirement &amp; College

              li Savings Business Owners

              li Insurance &amp; Annuities

              li Cash &amp; Credit

              li Stocks, Bonds &amp; Mutual Funds
          // Foot Col #4 Ends
        // Nested Row Ends
      // Nested Container Ends
    // Footer Top Section Ends
    // Copyright Starts
    footer.copyright
      // Nested Container Starts
      .container.text-center.text-lite-color
        em.text-light
          | Silver Gate Lending &copy; 2017. All Rights Reserved. Designed By
          a(href='#') ispyhumanfly
      // Nested Container Ends
    // Copyright Ends
    // Template JS Files
    script(src='js/jquery-1.12.4.min.js')

    script(src='js/jquery-migrate-1.4.1.min.js')


    script(src='js/bootstrap.min.js')

    script(src='js/plugins/backstretch/jquery.backstretch.min.js')

    script(src='js/plugins/shuffle/jquery.shuffle.modernizr.min.js')

    script(src='js/plugins/owl-carousel/owl.carousel.js')

    script(src='js/plugins/magnific-popup/jquery.magnific-popup.min.js')

    script(src='js/custom.js')
